/* Estilos para la tabla de lista de vehículos */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.boton {
    display: inline-block;
    padding: 8px 12px;
    background-color: #356da8;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para los enlaces al pasar el mouse */
.boton:hover {
    background-color: #0056b3;
}