body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

form {
    background-color: #fff;
    color: #333;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2em;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}